<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>University website design</title>
    <link
      rel="stylesheet"
      href="style.css"
    />
  </head>
  <body>
    <section class="homepage">
      <nav>
        {% include "logo.html" %}
        <img src="images/logo.png" />
        <div class="nav-links">
          <ul>
            <li><a>HOME</a></li>
            <li><a>ABOUT</a></li>
            <li><a>COURSES</a></li>
            <li><a>CONTACT</a></li>
          </ul>
        </div>
      </nav>
      <div class="content">
        <h1>World's Biggest University</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente,
          debitis?<br />
          etur adipisicing el dipisicing elit. Sapiente,
        </p>
        <a href="#">Visit us to learn more</a>
      </div>
    </section>
    <section>
      <div class="coursetitle">
        <h2>Courses we Offer</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, odit?
        </p>
      </div>
      <div class="row">
        <div class="course-col">
          <h3>Intermediate</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex,
            obcaecati unde! Eveniet totam tenetur quia sint. Atque, corrupti
            dolores? Dignissimos laboriosam excepturi exercitationem assumenda
            odio ut libero aut hic architecto laboriosam excepturi
            exercitationem assumenda odio ut libero aut hic architecto?
          </p>
        </div>
        <div class="course-col">
          <h3>Degree</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex,
            obcaecati unde! Eveniet totam tenetur quia sint. Atque, corrupti
            dolores? Dignissimos laboriosam excepturi exercitationem assumenda
            odio ut libero aut hic architecto laboriosam excepturi
            exercitationem assumenda odio ut libero aut hic architecto?
          </p>
        </div>
        <div class="course-col">
          <h3>Post Graduation</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex,
            obcaecati unde! Eveniet totam tenetur quia sint. Atque, corrupti
            dolores? Dignissimos laboriosam excepturi exercitationem assumenda
            odio ut libero aut hic architecto laboriosam excepturi
            exercitationem assumenda odio ut libero aut hic architecto?
          </p>
        </div>
      </div>
    </section>
    <section class="campus">
      <h4>Our Global Campus</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
        exercitationem quod aliquid.
      </p>
      <div class="row">
        <div class="campus-col">
          <img src="images/london.png" />
          <div class="layer">
            <a href="#">LONDON CAMPUS</a>
          </div>
        </div>
        <div class="campus-col">
          <img src="images/newyork.png" />
          <div class="layer">
            <a href="#">NEW YORK CITY CAMPUS</a>
          </div>
        </div>
        <div class="campus-col">
          <img src="images/washington.png" />
          <div class="layer">
            <a href="#">WASHINGTON CAMPUS</a>
          </div>
        </div>
      </div>
    </section>
    <section class="facilities">
      <h1>Our Facilities</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos,
        suscipit.
      </p>
      <div class="row">
        <div class="facilities-col">
          <img src="images/library.png" />
          <h3>World class library</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Consequatur tenetur ducimus placeat obcaecati mollitia natus.
          </p>
        </div>
        <div class="facilities-col">
          <img src="images/basketball.png" />
          <h3>Largest playground</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Consequatur tenetur ducimus placeat obcaecati mollitia natus.
          </p>
        </div>
        <div class="facilities-col">
          <img src="images/cafeteria.png" />
          <h3>Tasty and Health food</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Consequatur tenetur ducimus placeat obcaecati mollitia natus.
          </p>
        </div>
      </div>
    </section>
    <section class="testimonials">
      <h1>What Our Students say</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo, sunt.
      </p>
      <div class="row">
        <div class="testimonials-col">
          <img src="images/user1.jpg" />
          <div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit . Modi
              quidem impedit quasi similique excepturi perferendis ipsum tempora
              culpa? Earum nulla explicabo quidem mollitia vero molestiae por ro
              hic illo ipsum iusto.
            </p>
            <h3>Christine Berkley</h3>
          </div>
        </div>
        <div class="testimonials-col">
          <img src="images/user2.jpg" />
          <div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit . Modi
              quidem impedit quasi similique excepturi perferendis ipsum tempora
              culpa? Earum nulla explicabo quidem mollitia vero molestiae por ro
              hic illo ipsum iusto.
            </p>
            <h3>David Byer</h3>
          </div>
        </div>
      </div>
    </section>

    <section class="cta">
      <h1>Enroll for Our Various Online Courses Anywhere From the world</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel iste
        cupiditate hic!
      </p>
      <a>CONTACT US</a>
    </section>
  </body>
</html>
